
div{border: 1px solid gold;
    text-align: center;
    margin: 5%;
}

p{  border: 1px solid lightgray;
    display: inline;
    margin: 1%;
}

.image{
    height: 300px;
}
/*  CATEGORY*/

.category_container{
    margin: 0 75%;
}

.category_box{
    border:1px solid gray;
    margin-top: 10px;
    width: 300px;
}

.discussion_container{
    margin: 0;
}
.discussion_box{
    border:1px solid gray;

    width: 300px;
}

/* MY ARTICLES */

.thumbnail{
    width: 150px;
    height:200px;
}
